<html>
    <head>
        <title>Pollify</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="../../js/jquery-3.2.1.min.js"></script>
        <script src="../../js/bootstrap.min.js"></script>
        <script src="../../js/moment.min.js"></script>
    </head>
    <body>
        <%- include('partials/header') %>
        <div id="pollContainer" style="padding:30px; background-color:#e5eef0">
            <form action="/zh/make_vote" method="POST" data-toggle="validator">
                <h4><%= poll.question %></h4>
                <h5 style="margin-bottom:20px">- <%= poll.firstName %> <%= poll.lastName %></h5>
                <div class="form-group">
                    <input type="hidden" name="pollId" value="<%= poll.id %>">
                    <% for(var i = 0; i < poll.answers.length; i++){ %>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input voteAnswer" type="radio" name="voteAnswer" value="<%= poll.answers[i]._id %>" required>
                                    <%= poll.answers[i].answer %>
                            </label>
                        </div>
                    <% } %>
                    <br/>
                    <button id="submitVote" type="submit" class="btn btn-default">提交投票</button>
 
                    <p style="margin-top:5px"><a href="../../zh/results/<%= poll.id %>">查看结果</a></p>
                </div>
            </form>
        </div>
        <%- include('partials/about') %>
        <%- include('partials/contact') %>
        <%- include('partials/footer') %>
        <script>
            $(function(){
                var offset = new Date().getTimezoneOffset();
                var expirationDate= <%=expirationDate %>;
                var currentDate= <%=currentDate %>;
                var newExpirationDate = expirationDate + ((offset/60) * 60 * 60 * 1000);

                //Change all expirationDate below to newExpirationDate if need offsetting
                if(currentDate > expirationDate){
                    $('#submitVote').prop('disabled', true);
                    $('.voteAnswer').prop('disabled', true);
                    $('<h5>此投票已截止: ' + moment(expirationDate).format('MMMM DD, YYYY [at] h:mm a') + '</h5><h5>点击查看问卷结果.</h5>').insertAfter('#submitVote');
                    // $('<h5>Your current time is ' + moment(currentDate).format('MMMM DD, YYYY [at] h:mm a') + '</h5>').insertAfter('#submitVote');
                    // $('<h5>Your offset is ' + offset + '</h5>').insertAfter('#submitVote');
                }
                else{
                    if(expirationDate){
                      $('<h5>此次投票截止时间: ' + moment(expirationDate).format('MMMM DD, YYYY [at] h:mm a') + '</h5>').insertAfter('#submitVote');
                    }
                }
            });
        </script>
    </body>
</html>