<html>
    <head>
        <title>Pollify</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="../../js/jquery-3.2.1.min.js"></script>
        <script src="../../js/bootstrap.min.js"></script>
    </head>
    <body>
        <%- include('partials/header') %>
        <div id="pollContainer" style="padding:30px; background-color:#e5eef0">
            <h4><%= poll.question %></h4>
            <h5 style="margin-bottom:20px">- <%= poll.firstName %> <%= poll.lastName %></h5>
            <% for(var i = 0; i < poll.answers.length; i++){ %>
                <li><%= poll.answers[i].answer %> - Votes: <%= poll.answers[i].votes %></li>
            <% } %>
        </div>
        <%- include('partials/about') %>
        <%- include('partials/contact') %>
        <%- include('partials/footer') %>
    </body>
</html>