<html>
    <head>
        <title>Pollify</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <%- include('partials/header') %>
        <div id="pollContainer" style="padding:30px; background-color:#e5eef0">
            <form action="/make_vote" method="POST" data-toggle="validator">
                <h4><%= poll.question %></h4>
                <h5 style="margin-bottom:20px">- <%= poll.firstName %> <%= poll.lastName %></h5>
                <div class="form-group">
                    <input type="hidden" name="pollId" value="<%= poll.id %>">
                    <% for(var i = 0; i < poll.answers.length; i++){ %>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="voteAnswer" value="<%= poll.answers[i]._id %>" required>
                                <%= poll.answers[i].answer %>
                            </label>
                        </div>
                    <% } %>
                    <br/>
                    <button type="submit" class="btn btn-default">Submit Vote</button>
                    <p style="margin-top:5px"><a href="/results/<%= poll.id %>">See results</a></p>
                </div>
            </form>
        </div>
        <%- include('partials/about') %>
        <%- include('partials/contact') %>
        <%- include('partials/footer') %>
    </body>
</html>